
h1{
  font-weight: normal;
  margin-block-start: 64px;
  margin-block-end: 16px;
  display: inline-block;
  /* font-size: 10px; */
}
.titulo{
  font-size: 10px;
}


:root{
  --white30: white;
  --white20: #A5A3A5;
  --white10: #3A3539;
    font-size: 62.5%;
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
  }

  details{
  color: var(--white10);
  font-weight: bold;
  font-size: 1.4rem;
}
  body{
  margin: 0;
  color: white;
  font-family: 'Nunito', sans-serif;
}
 a{
  color: var(--white20);
  text-decoration: none;
}
header a:hover{
  color:var(--gris30)header
}

.titulo {
  font-size: 6.4rem;
}


details ol {
  font-weight: initial;
}

p {
  font-size: 1.7rem;
  color: var(--white20);
}

h2{
  font-size: 4rem;
  font-weight: bold;
  margin-block-end: 40px;
}

h3 {
  font-size: 3.2rem;
  text-decoration: none;
  font-weight: 600;
}

pre{
  background-color: var(--white10);
  padding: 40px;
  line-height: 24px;
  font-size: 16px;
  border-radius: 8px;
  font-family: 'Nunito';
}

.hero{
  block-size: 50px;
  background: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
  width: 100%;
  position: relative;
}

.section-content{
  counter-reset: titleList;
}

.section-content h3{
  counter-increment: titleList;
}

h3::before{
  content: counter(titleList) '. ';
}

h3 a {
  text-decoration: none;
  color: var(--gris20);
}
html{
  background: #251F24;
}
summary{
  color: #FFFFFF
}
blockquote{
  background-color: var(--white10);
  border-radius: 8px;
  padding-inline-start: 24px;
  padding-block-start: 24px;
  padding-block-end: 24px;
  padding-inline-end: 24px;
  line-height: 32px;
  font-size: 24px;
}
details li{
  color: var(--white20);
}

.wrapper{
  max-inline-size: 902px;
  margin: auto;
}
.main-content{
  margin-inline-end: 20px;
  padding: 16px;

}
img{
  max-inline-size: 100%;
  margin-block-start: 16px;
  display: block;
}
hr{
  margin-block-start: 40px;
  margin-block-end: 40px;
  border: 1px solid rgba(97, 97, 97, 0.2);
}
li{
  font-size: 1.4rem;
  line-height: 24px;
}
blockquote p{
  font-size: 2.4rem;
  color: #FFFFFF;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
blockquote p span::before {
  content: '- ';
}
blockquote p span{
  margin-block-start: 16px;
  display: block;
}

.header-postion{

}
header{
  margin-block-start: 20px;
  margin-inline: 20px;
}
header li{
  margin-block-start: 16px;
}
.textoContenido{
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  border-bottom: 24px;
}
h4{
  font-size: 24px;
  font-weight: 400;
  border-block-end: 0px;
  /* display: inline; */
  margin-block-start:40px;
}
.form input{
  display: block;
  inline-size: 100%;
  height: 48px;
  border-radius: 8px;
  background-color: #251F24;
  box-sizing: border-box;
  border: 1px solid white;
  margin-block-end: 24px;
  padding-block: 12px;
  padding-inline: 16px;
  color: white;
  font-size: 16px;
}
h5{
  font-size: 24px;
  margin-block-end: 14px;
  font-weight: 400;
}

.form input::-webkit-input-placeholder {
  color: var(--white20);
}

.form input[type="submit"]{
  background-color: #157EFB;
  border: none;
}
pre{
  overflow: auto;
}

@media screen and (min-width: 1600px){
  .header-postion{
    position: sticky;
    inset-block-start: -45px;
  }
  header{
   margin-block-start: 64px;
   position: absolute;
   inline-size: 188px;
   inset-inline-start: 160px;
    margin-inline: 0px;
  }
  .hero{
    block-size: 350px;
  }

}